{%  extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/site.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>Contacts</h3>
                <ul>
                    <li>+3809999999999</li>
                    <li>asd@asd.asd</li>
                    <li>Kyiv, 69 Gabela str.</li>
                </ul>
            </div>
            <div class="col-6">
                <div class="form-group">
                {{ form_start(form) }}
                {{ form_end(form) }}
                </div>
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}